.index-main-about {
    margin: 0 auto;
}

@media screen and(max-width: 1199px){
    .index-main-about{display: none;}
}

.index-main-about__h2 {
    font-size: 36px;
    line-height: 1.166em;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    margin: 0 auto;
}

@media screen and(min-width: 1200px) {
    .index-main-about__h2 {}
}

.index-about-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
}

@media screen and(min-width: 1200px) {
    .index-about-list {}
}

.index-about-list__item {
    padding-right: 30px;
}

@media screen and(min-width: 1200px) {
    .index-about-list__item {}
}

.index-about-list__item--not {
    padding-right: 0px;
}

@media screen and(min-width: 1200px) {
    .index-about-list__item--not {}
}

.index-about-list__blank {
    height: 224px;
    width: 100px;
}

@media screen and(min-width: 1200px) {
    .index-about-list__blank {}
}