.index-header-contacts {
    display: none;
}

@media screen and(min-width: 1200px) {
    .index-header-div {
        margin-right: 300px;
    }
}

@media screen and(min-width: 768px) {
    .index-header-contacts {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}

@media screen and(min-width: 1200px) {
    .index-header-contacts {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }
}

.index-header-contacts--none {
    list-style: none;
}

.index-header-contacts__link {
    display: none;
}

@media screen and(min-width: 768px) {
    .index-header-contacts__link {
        display: flex;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: var(--index-first-font-color);
        text-decoration: none;
    }
}

@media screen and(min-width: 1200px) {
    .index-header-contacts__link {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14em;
        letter-spacing: 0.02em;
        color: var(--index-first-font-color);
        text-decoration: none;
    }
}

.index-header-contacts__svg {
    display: none;
}

@media screen and(min-width: 768px) {
    .index-header-contacts__svg {
        margin-right: 10px;
        display: flex;
    }
}

.index-header-contacts__item:first-child {
    display: none;
}

@media screen and(min-width: 768px) {
    .index-header-contacts__item:first-child {
        margin-right: 30px;
        display: flex;
    }
}