 .container {
     width: 480px;
     margin: 0 auto;
 }

 .index-header-container {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .index-main-header__container {
     fill: contain;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     height: 400px;
 }

 .index-main-about__container {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding-bottom: 94px;
 }

 .index-main-team__container {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding-bottom: 16px;
 }

 .index-main-clients__container {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .index-footer__container {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     height: 603px;
 }