@media screen and(min-width: 768px) {
    .index-main-team {
        width: 100%;
    }
}

@media screen and(min-width: 1200px) {
    .index-main-team {
        width: 100%;
    }
}


.index-main-team__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

@media screen and(min-width: 768px) {
    .index-main-team__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
}

@media screen and(min-width: 1200px) {
    .index-main-team__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
    }
}

.index-main-team__card {
    width: 450px;
    height: 622px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px
}

@media screen and(min-width: 768px) {
    .index-main-team__card {
        width: 354px;
        max-height: 536px;
        background-color: var(--index-zero-bg);
        margin-bottom: 30px;
        padding-bottom: 24px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px
    }
}

@media screen and(min-width: 1200px) {
    .index-main-team__card {
        width: 270px;
        max-height: 428px;
        background-color: var(--index-zero-bg);
        margin-bottom: 30px;
        padding-bottom: 24px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px
    }
}

.index-main-team__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 622px;
    margin-bottom: 30px;
}

@media screen and(min-width: 768px) {
    .index-main-team__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 354px;
        max-height: 536px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

@media screen and(min-width: 1200px) {
    .index-main-team__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 270px;
        max-height: 428px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

@media screen and(max-width: 480px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .index-main-team__img {}
}

@media screen and(min-width: 768px) {
    .index-main-team__img {
        width: 354px;
        max-height: 374px;
    }
}

@media screen and(min-width: 1200px) {
    .index-main-team__img {
        width: 270px;
        max-height: 260px;
    }
}

.index-main-team__h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.03em;
    margin: 60px auto 30px;
}

@media screen and(min-width: 1200px) {
    .index-main-team__h2 {}
}

.index-main-team__h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875em;
    letter-spacing: 0.03em;
    padding: 30px 0 10px 0;
    margin: 0 auto;
}

@media screen and(min-width: 1200px) {
    .index-main-team__h4 {}
}

.index-main-team__p {
    font-size: 16px;
    line-height: 1.1875em;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--index-first-font-color);
    padding-bottom: 16px;
    margin: 0 auto;
}

@media screen and(min-width: 1200px) {
    .index-main-team__p {}
}

.index-main-team__figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

@media screen and(min-width: 1200px) {
    .index-main-team__figcaption {}
}

.icons-team {
    display: flex;
    justify-content: space-around;
}

@media screen and(min-width: 1200px) {
    .icons-team {}
}

.icons-team__div {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: var(--index-team-icons-color);
}

@media screen and(min-width: 1200px) {
    .icons-team__div {}
}