.index-main-team__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.index-main-team__card {
    width: 450px;
    height: 622px;
    display: flex;
    flex-direction: column;
}

.index-main-team__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 622px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px
}

.index-main-team__h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.03em;
    margin: 60px auto 30px;
}

.index-main-team__h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875em;
    letter-spacing: 0.03em;
    padding: 30px 0 10px 0;
    margin: 0 auto;
}

.index-main-team__p {
    font-size: 16px;
    line-height: 1.1875em;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--index-first-font-color);
    padding-bottom: 16px;
    margin: 0 auto;
}

.index-main-team__figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.icons-team {
    display: flex;
    justify-content: space-around;
}

.icons-team__div {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: var(--index-team-icons-color);
}