.index-header {
    border-bottom: 1px solid #ECECEC;
}

.index-nav-list--active::after {
    content: "";
    display: block;
    width: 53px;
    margin-top: 28px;
    border-top: 4px solid var(--index-link-color);
}