.index-main-header__h1 {
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.36em;
    color: var(--index-third-font-color);
    margin: 0 auto;
}

.index-main-header__button {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    padding: 10px 42px;
    color: var(--index-third-font-color);
    background-color: var(--index-link-color);
    border: none;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}