.index-footer-join {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

@media screen and(min-width: 768px) {
    .index-footer-join {display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: auto;}
}

@media screen and(min-width: 1200px) {
    .index-footer-join {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: auto;
    }
}

.index-footer-join__p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--index-third-font-color);
    padding-bottom: 20px;
}

@media screen and(min-width: 1200px) {
    .index-footer-join__p {}
}

.index-join-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media screen and(min-width: 768px) {
    .index-join-section {display: flex;
        justify-content: center;
        width: auto;}
}

@media screen and(min-width: 1200px) {
    .index-join-section {display: flex;
        justify-content: center;
        width: auto;}
}

.index-join-section__div {
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--index-third-font-color);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    cursor: pointer;
}

@media screen and(min-width: 768px) {
    .index-join-section__div {
        height: 44px;
        width: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--index-third-font-color);
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }
}

@media screen and(min-width: 1200px) {
    .index-join-section__div {
        height: 44px;
        width: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--index-third-font-color);
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }
}

.index-join-section__div:not(:last-child) {
    margin-right: 10px;
}

.index-join-section__svg {
    width: 20px;
    height: 20px;
}