.portfolio-footer {
    background-color: var(--portfolio-first-bg);
    width: 100%;
    margin: 0 auto;
}

@media screen and(max-width: 480px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .portfolio-footer {
        background-color: var(--portfolio-first-bg);
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and(min-width: 768px) {
    .portfolio-footer {
        background-color: var(--portfolio-first-bg);
        width: 100%;
    }
}

@media screen and(min-width: 1200px) {
    .portfolio-footer {
        background-color: var(--portfolio-first-bg);
        width: 100%;
    }
}