.portfolio-footer__sectionjoin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80px;
}

@media screen and (min-width: 768px) {
    .portfolio-footer__sectionjoin {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 206px;
        height: 80px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    .portfolio-footer__sectionjoin {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 206px;
        height: 80px;
        margin: 0 auto;
    }
}

.portfolio-footer__jointext {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--portfolio-third-font-color);
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}

.portfolio-footer-sectionicons {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media screen and (min-width: 768px) {
.portfolio-footer-sectionicons {
        display: flex;
        justify-content: center;

    }}

@media screen and (min-width: 1200px) {}

.portfolio-footer-sectionicons__icondiv {
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--index-third-font-color);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}

.portfolio-footer-sectionicons__icondiv:not(:last-child) {
    margin-right: 10px;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}

.portfolio-footer-sectionicons__svg {
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}