.portfolio-header__logo {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    font-family: Raleway;
    padding: 13px 0 13px;
    margin-left: 15px;
}

@media screen and (min-width: 1200px) {
    .portfolio-header__logo {
        font-size: 26px;
        line-height: 1.192em;
        letter-spacing: 0.03em;
        font-weight: 700;
        color: inherit;
        text-decoration: none;
        font-family: Raleway;
    }
}

.portfolio-header__web {
    color: var(--portfolio-link-color);
}