.portfolio-header {
    border-bottom: 1px solid #ECECEC;
    margin: 0 auto 60px;
}

.portfolio-main{

}

@media  screen and (min-width: 768px){
    .portfolio-main {
            width: 100%;
        }
}

@media screen and (min-width: 1200px) {.portfolio-main {
        width: 100%;
    }}
