/* --------- -I--N--D--E--X- --------- */

:root {
    --index-link-color: #2196F3;
}

:root {
    --index-zero-bg: #fff;
}

:root {
    --index-bg: #F5F4FA;
}

:root {
    --index-first-bg: #2F303A;
}

:root {
    --index-first-bg-opacity: rgba(47, 48, 58, 0.8);
}

:root {
    --index-font-color: #212121;
}

:root {
    --index-first-font-color: #757575;
}

:root {
    --index-second-font-color: rgba(255, 255, 255, 0.6);
}

:root {
    --index-third-font-color: #ffffff;
}

:root {
    --index-icon-hover-color: #2196F3;
}

:root {
    --index-team-icons-color: #AFB1B8;
    ;
}

:root {
    --index-client-icon-border: #AFB1B8;
}

:root {
    --index-header-icons-color: #757575;
}




:root {
    --portfolio-link-color: #2196F3;
}

:root {
    --portfolio-first-bg: #2F303A;
    ;
}

:root {
    --portfolio-second-bg: #E5E5E5;
}

:root {
    --portfolio-third-bg: #F5F4FA;
}

:root {
    --portfolio-first-font-color: #757575;
}

:root {
    --portfolio-second-font-color: rgba(255, 255, 255, 0.6);
}

:root {
    --portfolio-third-font-color: #ffffff;
}